@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body
{
    font-family: 'Poppins', sans-serif;
    background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); 
display: flex;
align-items: center;
justify-content: center;
margin: 0;
min-height: 100vh;


}
.mobile-container{
    width: 400px;
    background-color: white;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 3px;
    overflow: hidden;
    
}

img {
    max-width: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

}
header input{
    background-color: #eee;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
}
header button{
    background-color: transparent;
    color: #837878;
    font-size: 1.5rem;
    border: none;
    margin-left: 10px;

}
.fav-container{
    padding: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgba(239, 216, 239, 0.935);
}
.fav-meals{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;

}
.fav-meals li{
    width: 75px;
    margin: 5px;

}

.fav-meals li img{
    height: 75px;
    width: 75px;
    object-fit: cover;
    border-radius: 50%;
    border: #0000007d;
    box-shadow:  0 0 10px 2px #3333331a;


}
.header-class{
    text-align: center;
    display: flex;
    justify-content: center;
}

.meal{
    margin: 1.5rem;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 3px;
    overflow: hidden;

}
.meal-header{
    position: relative;

}

.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }

.meal-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-header img {
    height: 250px;
    width: 100%;
    object-fit: cover;

}
.meal-body h4{
    margin: 0;
}

.meal-body .fav-btn{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: gray;
    cursor: pointer;

}

.meal-body .fav-btn.active {
  color: rebeccapurple;
}